

:root{ 
--blue: #367193;
--tan: #EFEACD;
--white: #FFFFFF;
--black: #000000;
--gray: lightgray;
--custom: linear-gradient(90deg, red, yellow, blue);
}

body{
font-family: 'Prata', serif;
padding: 0px 300px;
margin-bottom: 0;


}

nav{
	background: var(--blue);
	/*padding-top: 26px;*/
	position: fixed;
	z-index: 10;
	margin-top: -70px;
	margin-bottom: -30px;	
	width: 100%;
	left: 0;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
 nav ul{
 	list-style: none;
 	display: inline-block;
 	position: relative;
 	
 	
 }
 nav ul li{
 	padding-top: 10px;
 	padding-bottom: 0;
 	width: 60px;
 	font-weight: 60;
 }

  

a{
	text-decoration: none;
	color: var(--tan);
}

header{
	background: var(--blue);
	width: 100%;
	margin-top: -25px;
	position: relative;
	border-radius: 15px;	
}

header img{
	width: 100%;
	z-index: 2;
	margin-top: -150px;
}

header div h2{
	text-align: center;
	color: var(--tan);
	padding: 0px 10px;
	font-size: 25px;
	font-weight: 90;
}
header div h3{
	text-align: center;
	color: var(--tan);
	padding: 0px 10px;
	margin-top: -10px;
	font-size: 15px;
	font-family: 'Overpass', sans-serif;
	font-weight: 90;
	
}
.header-tagline{
	margin-top: 450px;
	position: absolute;
	z-index: 5;
	text-align: center;
	width: 100%;
}


.header-welcome{
	transform: translateY(315px);
	position: inherit;
	color: #EFEACD;
	margin-left: 10%;
	text-shadow: 0 8px 16px 0 rgba(0,0,0,0.19), 0 6px 20px 0 rgba(0,0,0,0.24);
	font-weight: 90;
	font-size: 40px;
}



.order-button{
	color: var(--tan);
	text-align: center;
	background-color: var(--blue);
	border: none;
	/*position: absolute;*/
	padding: 10px 20px;
	margin-top: 30px;
	/*margin-left: 50%;*/
	border-radius: 30px;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	transition: 0.2s ease-in-out;
	/*z-index: 10;*/
}

.order-button:hover {
	color: var(--blue);
	/*position: absolute;*/
	cursor: pointer;
	background-color: var(--tan);
	
	
}
.north-america-group{
	text-align: center;
}
.north-america-img{
	position: relative;
	width: 70%;
	height: auto;
	text-align: center;
	margin-top: 50px;
	padding-bottom: 50px;
	
}

/*<----------products------------>*/

.products-section{
	margin-top: 100px;
	color: var(--blue);

}
.products-section h2{
	text-align: center;
}


.list{
	list-style: square;
}

.circle-white{
  height: 15px;
  width: 15px;
  background: var(--white);
  border: solid 2px var(--blue);
  border-radius: 50%;
  display: inline-block;
}
.circle-gray{
  height: 15px;
  width: 15px;
  background: var(--gray);
  border-radius: 50%;
  display: inline-block;
}
.circle-black{
  height: 15px;
  width: 15px;
  background: var(--black);
  border-radius: 50%;
  display: inline-block;
}
.circle-custom{
  height: 15px;
  width: 15px;
  background: var(--custom);
  border-radius: 50%;
  display: inline-block;
}

.standard-tee-color{
	/*padding: -10px 20px;*/
	padding-left: 10px;
	margin: 0px;
}

.about-products ul li{
	list-style: none;
	color: var(--blue);
	text-align: center;
}
.about-products li{
	font-weight: 10;
}

.product-divider{
	color: var(--blue);
	border: solid 1px;
	margin: 50px 0px;
}

/*<----------about section------------>*/


.about-section{
	background-image: url(../img/about-bg01.png);
	text-align: center;
	padding: 40px 0;
	background-size: cover;
	margin: 70px 0px;
	color: var(--blue);
	margin-bottom: 0px;
	/*margin-left: 0px;*/
}

.about-divider{
	color: var(--blue);
	border: solid 0.25px;
	width: 50%;
	margin-left: 290px;
	text-align: center;
}

.about-section h2{
	padding-top: 170px;
	
}

.about-section h3{
	padding-top: 90px;

}

.about-section p{
	padding: 100px 100px;
	padding-bottom: 200px;
}

.request-quote-button{
	color: var(--blue);
	text-align: center;
	background-color: var(--white);
	border: solid var(--blue);
	/*position: absolute;*/
	padding: 10px 20px;
	margin-top: 30px;
	/*margin-left: 50%;*/
	border-radius: 30px;
	/*box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);*/
	transition: 0.2s ease-in-out;
	/*z-index: 10;*/
}

.request-quote-button:hover {
	color: var(--tan);
	/*position: absolute;*/
	cursor: pointer;
	background-color: var(--blue);
}



/*----------------Footer section--------------------*/
 footer{
 	background-color: var(--blue);
 	color: var(--tan);
 }

 footer form{
 	/*padding: 180px 400px 150px 400px;*/
 	width: 100%; 	
 	text-align: center;
 	font-size: 25px;
 	color: var(--blue);
 }

 footer input{
 	border: var(--blue);
 	border-radius: 50px;
 	padding: 20px 10px;
 	padding-left: 20px;
 	margin-bottom: 30px;
 	width: 100%;
 }

 .footer-button{
 	border: var(--blue);
 	font-family: 'Prata', sans-serif;
 	font-size: 20px;
 	font-weight: 20;
 	border-radius: 50px;
 	padding: 20px 0px; 	
 	margin-bottom: 30px;
 	width: 100%;
 	position: relative;
 	color: var(--blue);
 	background-color: var(--tan);
 	transition: 0.3s ease-in-out;
 	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
 }

  .footer-button:hover{
 	width: 100%;
 	cursor: pointer;
 	position: relative;
 	color: var(--tan);
 	background-color: var(--blue);
 	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
 }

.footer-signature{
	text-align: center;
	margin: 0;
	background: var(--blue);
	color: var(--tan);
	font-size: 11px;
}

/*icon images*/
.standardsImg{
	width: 70%;
}
 /*icon container*/
.iconsRow{
	margin-top: -80px;
	align-content: center;
	padding-bottom: 50px;
	padding-left: 20px;
}



/****************************************************************************8*/
/*-------------------------PHONE DIMENSIONS----------------------*/

@media screen and (max-width: 500px){

body{
font-family: 'Prata', serif;
padding: 0px 300px;
margin-bottom: 0;

}

nav{
	background: var(--blue);
	/*padding-top: 26px;*/
	position: fixed;
	z-index: 10;
	margin-top: -70px;
	margin-bottom: -30px;	
	width: 100%;
	height: auto;
	left: 0;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
 nav ul{
 	list-style: none;
 	display: inline-block;
 	position: relative; 	
 }

 nav ul li{
 
 	padding-top: ;
 	padding-bottom: 0;
 	width: 60px;
 	font-weight: 16px;
 	margin-left: 50px;
 	font-size: 15px;
 }

/*nav-li-group-02{
 	display: flex;
 	justify-self: flex-end;
 	margin-right:  0px;
 }*/

 .col-sm .main-logo{
 padding-left: -50px;

 }

a{
	text-decoration: none;
	color: var(--tan);
}

header{
	background: var(--blue);
	width: 100%;
	margin-top: 0px;
	position: 50px;
	border-radius: 15px;
	/*margin-left: 25px;*/
	padding-top: 120px;

	
}
header img{
	width: 100%;
	z-index: 2;
	margin-top: -150px;
}

header div h2{
	text-align: center;
	color: var(--tan);
	padding: 0px 10px;
	font-size: 16px;
	font-weight: 90;
}
header div h3{
	text-align: center;
	color: var(--tan);
	padding: 0px 10px;
	margin-top: -10px;
	font-size: 15px;
	font-family: 'Overpass', sans-serif;
	font-weight: 90;
	
}
.header-tagline{
	margin-top: 132px;
	position: absolute;
	z-index: 5;
	text-align: center;
	width: 100%;
}


.header-welcome{
	transform: translateY(-5px);
	position: inherit;
	color: #EFEACD;
	margin-left: 10%;
	text-shadow: 0 8px 16px 0 rgba(0,0,0,0.19), 0 6px 20px 0 rgba(0,0,0,0.24);
	font-weight: 90;
	font-size: 17px;
}



.order-button{
	color: var(--tan);
	text-align: center;
	background-color: var(--blue);
	border: none;
	/*position: absolute;*/
	padding: 10px 20px;
	margin-top: 30px;
	/*margin-left: 50%;*/
	border-radius: 30px;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	transition: 0.2s ease-in-out;
	/*z-index: 10;*/
}

.order-button:hover {
	color: var(--blue);
	/*position: absolute;*/
	cursor: pointer;
	background-color: var(--tan);
	
	
}
.north-america-group{
	text-align: center;
}
.north-america-img{
	position: relative;
	width: 70%;
	height: auto;
	text-align: center;
	margin-top: 50px;
	padding-bottom: 50px;
	
}

/*<----------products------------>*/

	.products-section{
		margin-top: 100px;
		color: var(--blue);
		margin-left: 46px;

	}
	.products-section h2{
		text-align: center;
	}


	.list{
		list-style: square;
	}

	.circle-white{
	  height: 15px;
	  width: 15px;
	  background: var(--white);
	  border: solid 2px var(--blue);
	  border-radius: 50%;
	  display: inline-block;
	}
	.circle-gray{
	  height: 15px;
	  width: 15px;
	  background: var(--gray);
	  border-radius: 50%;
	  display: inline-block;
	}
	.circle-black{
	  height: 15px;
	  width: 15px;
	  background: var(--black);
	  border-radius: 50%;
	  display: inline-block;
	}
	.circle-custom{
	  height: 15px;
	  width: 15px;
	  background: var(--custom);
	  border-radius: 50%;
	  display: inline-block;
	}

	.standard-tee-color{
		/*padding: -10px 20px;*/
		padding-left: 10px;
		margin: 0px;
	}

	.standard-tee-info{
		align-content: center;
	}

	.about-products ul li{
		list-style: none;
		color: var(--blue);
		text-align: center;
	}
	.about-products li{
		font-weight: 10;
	}

	.product-divider{
		color: var(--blue);
		border: solid 1px;
		margin: 0px 0px 50px;
	}

/*<----------about section------------>*/


	.about-section{
		background-image: url(../img/about-bg01.png);
		text-align: center;
		padding: 40px 0;
		background-size: cover;
		/*background-repeat: no-repeat;*/
		margin: 70px 0px;
		color: var(--blue);
		margin-bottom: 0px;
		/*margin-left: 0px;*/
	}

	.about-divider{
		color: var(--blue);
		border: solid 0.25px;
		width: 70%;
		margin-left: 55px;
		text-align: center;
	}

	.about-section h2{
		padding-top: 170px;
		
	}

	.about-section h3{
		padding-top: 90px;

	}

	.about-section p{
		padding: 100px 100px;
		padding-bottom: 200px;
	}

	.request-quote-button{
		color: var(--blue);
		text-align: center;
		background-color: var(--white);
		border: solid var(--blue);
		padding: 10px 20px;
		margin: 7px 0px 60px 0px;
		border-radius: 30px;
		transition: 0.2s ease-in-out;
		border: solid 2px;
		
	}

	.request-quote-button:hover {
		color: var(--tan);
		/*position: absolute;*/
		cursor: pointer;
		background-color: var(--blue);
	}


/*--------------------------------------STYLES FOR POP-UP FORM MODAL------------------------------------------*/
 * {
        box-sizing: border-box;
      }
      .openBtn {
        display: flex;
        justify-content: center;     
      }
      .openButton {
			  color: var(--blue);
				text-align: center;
				background-color: var(--white);
				border: solid 2px var(--blue);				
				padding: 10px 20px;
				margin: 7px 0px 60px;				
				border-radius: 30px;				
				transition: 0.2s ease-in-out;				
        position: relative;
        cursor: pointer;
        text-align: center;
        
      }
      .openButton:hover {
			  color: var(--white);
				text-align: center;
				background-color: var(--blue);
				border: solid var(--blue);				
				padding: 10px 20px;
				margin-top: 30px;				
				border-radius: 30px;				
				transition: 0.2s ease-in-out;				
        position: relative;
        cursor: pointer;
        text-align: center;
      }

      .loginPopup {
        position: relative;
        text-align: center;
        width: 100%;
        transition: 0.5s ease-in;
      }
      .formPopup {
      	color: var(--blue);
        display: none;
        position: fixed;
        left: 48%;
        top: 26%;
        transform: translate(-50%, 5%);
        border: 3px solid var(--blue);
        z-index: 9;
        transition: 0.5s ease-in;
        border-radius: 10px;	
      }
      .formContainer {
        max-width: 300px;
        padding: 20px;
        background-color: var(--tan);
        border-radius: 10px;
      }
      .formContainer input[type=text],
      .formContainer input[type=password] {
        width: 100%;
        padding: 15px;
        margin: 5px 0 20px 0;
        border: none;
        border-radius: 100px;
        background: var(--white);
      }
      .formContainer input[type=text]:focus,
      .formContainer input[type=password]:focus {
        background-color: var(--white);
        outline: none;
      }
      .formContainer .btn {
        padding: 12px 20px;
        border: none;
        background-color: var(--blue);
        color: #fff;
        cursor: pointer;
        width: 100%;
        margin-bottom: 15px;
        opacity: 0.5;
        border-radius: 100px;
      }
   

      .formContainer .cancel {
        background-color: #cc0000;
      }
      .formContainer .btn:hover,
      .openButton:hover {
        opacity: 1;
        transition: 0.2 ease-in-out;
      }

/*---------------------------- End STYLES FOR POP-UP MODAL-------------------------------------- */

/*----------------Order section--------------------*/
 footer{
 	background-color: var(--blue);
 	color: var(--tan);
 }

 footer form{
 	/*padding: 180px 400px 150px 400px;*/
 	width: 100%; 	
 	text-align: center;
 	font-size: 25px;
 	color: var(--blue);
 }

 footer input{
 	border: var(--blue);
 	border-radius: 50px;
 	padding: 20px 10px;
 	padding-left: 20px;
 	margin-bottom: 30px;
 	width: 100%;
 }

 .footer-button{
 	border: var(--blue);
 	font-family: 'Prata', sans-serif;
 	font-size: 20px;
 	font-weight: 20;
 	border-radius: 50px;
 	padding: 20px 0px; 	
 	margin-bottom: 30px;
 	width: 100%;
 	position: relative;
 	color: var(--blue);
 	background-color: var(--tan);
 	transition: 0.3s ease-in-out;
 	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
 }

  .footer-button:hover{
 	width: 100%;
 	cursor: pointer;
 	position: relative;
 	color: var(--tan);
 	background-color: var(--blue);
 	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
 }

.footer-signature{
	text-align: center;
	margin: 0;
	background: var(--blue);
	color: var(--tan);
	font-size: 11px;
}
/************************************************************/

.standardsImg{
	width: 70%;
	padding-bottom: 30px;
	padding-top: 30px;
}

.iconsCont{
	margin-top: -80px;
	align-content: center;
}

.iconsRow{
	align-items: center;
	padding-top: 60px;
	padding-left: 0px;
}

